.auction_item_input {

    display: flex;
    flex-direction: column;
}

.auction_item_checkbox_container {
    margin-left: 1.3rem;
}

.auction_item_input .auction_item_label {
    vertical-align: middle;
    margin-bottom: 1.1rem;
}

.auction_item_invisible {
  display: none;
}
.auction_item_visible {
    display:inline;
}