.carousel .slider-wrapper {
    width: 90%; /*override carousel stuff*/
    max-height: 500px;
}

.carousel-pointer {
    display: flex;
    justify-content: center;
    align-items: end;
}

.carousel-slider div.carousel-pointer {
    height: 480px;
    align-items: center;
}

.carousel .control-dots {
    bottom: -10px;
}

.carousel .slide {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .slide img {
    width: auto!important;
}

.carousel .slide .legend {
    opacity: 0.75;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
    left: inherit;
    margin-left: inherit;
    width: 280px;
    bottom: 10px;
}
/* MIGHT NOT LOOK GOOD BECAUSE IMAGES CAN BE DISTORTED*/
.carousel-pointer img {
    width: auto!important;
    max-height: 340px;
    max-width: 800px;
}

.legend {
    max-width: 280px;
}

.carousel-pointer:hover{
    cursor: pointer;
}