.secondary-price {
    font-size: 12px;
    font-weight: normal;
    color: white;
}

.secondary-price.ahead27 {
 margin-left: 2.7rem;
}
.secondary-price.ahead37 {
    margin-left: 3.7rem;
}

.store_price {
    margin: 0 auto;
    max-width: 80px;
    text-align: center;
    display:flex;
    flex-direction: row;
}

.videoContainer {
    width: 100%;
    height:100%;
}

.imageContainer {
    max-height: 100%;
}

.carousel-product .slider {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-sound-control--btn {
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
    bottom: 40px;
    left: 45px;
    z-index: 1000;
    outline:none;
    border: none;
    background: url('../imgs/ico-sound-on.svg') 50% 50% no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    -webkit-transition: none;
}

.video-sound-control--btn-off {
    width: 32px;
    height: 32px;
    display: block;
    position: relative;
    bottom: 40px;
    left: 45px;
    z-index: 1000;
    border: none;
    outline:none;
    background: url('../imgs/ico-sound-off.svg') 50% 50% no-repeat;
    background-size: 32px 32px;
    cursor: pointer;
    -webkit-transition: none;
}

*:focus {
    outline: 0 !important;
}

.main-sup{
    top: -0.21rem!important;
}
.secondary-sup {
    top: -0.13rem!important;
    left: 0.12rem!important;
}

.dzu-previewButton {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACH0lEQVRIia2WP2sVURDFz1keEiweIVhJEBslELF4hQZt5BU26scQMWBj5RcQP4CVaCNWFna2UVBEBBstXhFRQRMhFgZUFMXMz8K7eXc3d5MXdeCys3f+nJlz5y4r7SDAICIeRsQ68CWtdeBxRCwAO6XYNvlB4D2wERFrwGpErAJrwEZ6zv01QERcAYiI2xGxD9ib1gxwI9mubZej10o4sD2dbZ0EZPu1pKOt2FeJnmPAMNv/LOm57aZ3ouM7HRIRXaa2/ACO1HmrlLwv6SIw1dVqXVF9qECXvgc4D8xIktPmAeCtpMr2pnOXPonYnrc96iWAT5Iu2Z6XtCjpkaR7JZAuAc7YPi3pFvBC0oeS06nE4/WJSx3HXk2xZ/P9quCY64sRsQQM0njeiYi7QB+YS7bLeWybxsaYSgrbkQUcsj0Epm33JC3YnpLUA/q2h5Le1MWWzmlLByUpcd9O1jUADYC2UylJ26cUk0uvw1gV9hp6uuEl2ybFWzpoV1Wqdrf3ojhFdTWTJMnsxWIbFLXbrkFKesm3JA3U7HtTf6O2VPvPFOVA/50ijSdg11OUvTemqA1QO9cU3bS9JOmlpG/ABf25sV9tLwPnbL9L4EVa24cctmV7f0T0qqoaSRplLg8y/aek+5IUERUwm4AaHTTGAJiW9FTSYUkrkn5lLTcCNaaxSmsWWLF93PbHEjM1yAB4wvgXpbEioqgDz4AT7Xy/AehbH63ctxw0AAAAAElFTkSuQmCC")!important;
}